<div id='config' data-environment=<%= Rails.env %> data-form=<%= form %>></div>
<script src="https://www.paypal.com/sdk/js?client-id=AeEGqylg_doqLpNwRY4sHgP8eg-Hqs1ZCz1fxIJ1cDaE2KZHN7wJNc2CUC76XSiUHiiM0WLsG968KzJE&currency=USD" data-sdk-integration-source="button-factory"></script>

<%= simple_form_for(@reservation) do |f| %>
  <% if @reservation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@reservation.errors.count, "error") %> prohibited this reservation from being saved:</h2>

      <ul>
      <% @reservation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <div class="fl">
      <div class="panel panel-default">
        <h3>Date</h3>
        <div class="panel-body">
          <div id="reportrange">
            <i class="fa fa-calendar fa-lg"></i>
            <% if @reservation.reservation_date.nil? %>
               <span>Pick A Reservation Week</span> <b class="caret"></b>
            <% else %>
              <span><%= l(@reservation.reservation_date, format: :notime) %> - <%= l(@reservation.reservation_date + 7.days, format: :notime) %></span> <b class="caret"></b>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
    <%= f.input :reservation_date, as: :hidden %>
  <div class="box panel panel-default">
    <h3> Name </h3>
    <div class="panel panel-body">
      <%= f.input :name, label: false%>
    </div>
  </div>
  <div class="box panel panel-default">
    <h3> Sex </h3>
    <div class="panel panel-body">
      <%= f.collection_radio_buttons :sex, [['Male', 'Male'], ['Female', 'Female']], :first, :last, :item_wrapper_tag => :div %>
    </div>
  </div>
  <div class="box panel panel-default">
    <h3>Member Type</h3> 
    <div class="panel panel-body" id="member_type">
      <%= f.collection_radio_buttons :res_member_type, [['Full Member', 'Full Member'], ['Associate Member', 'Associate Member'], ['Guest','Guest']], :first, :last, :item_wrapper_tag => :div %>
    </div>
  </div>
  <div class="box panel panel-default">
    <h3> Select the days you are staying and if you want the house dinner.</h3>
    <div class="panel panel-body">
      <%= f.input :wed, :as => :boolean, :label => 'Wednesday' %>
      <%= f.input :thur, :as => :boolean, :label => ' Thursday' %>
      <%= f.input :fri, :as => :boolean, :label => ' Friday' %>
      <%= f.input :sat, :as => :boolean, :label => ' Saturday' %>
      <%= f.input :sun, :as => :boolean, :label => ' Sunday' %>
      <%= f.input :mon, :as => :boolean , :label => ' Monday' %>
      <%= f.input :tue, :as => :boolean, :label => ' Tuesday' %>
      <%= f.input :dinner, :as => :boolean, :label => ' Dinner' %>
    </div>
  </div>
  <div class="box panel panel-default">
    <h3> Comment</h3>
    <div class="panel panel-body">
      <%= f.input :comment, as: :bootsy, label: false %>
    </div>
  </div>
  <%=  f.hidden_field  :confirmation_number, id:'confirmation_number' %>
  <div class="box panel panel-default">
    <div class="panel panel-body">
    <% if form == 'create' %>
      <div id="smart-button-container">
      <div style="text-align: center;">
        <div id="paypal-button-container"></div>
      </div>
    </div>
    <% else %>
      <%= f.submit 'Submit', class: 'btn btn-primary' %>
    <% end %>
    </div>
  </div>
<% end %>
<script type="text/javascript">
//set how many weeks out we allow users to scheudle
const WEEKS_OUT = 25
var obj = {};

for (var i = 0; i < WEEKS_OUT; i++) {
  var dayOne = moment().day("Wednesday").week(Number).add('days', i*7)
  var dayTwo = moment().day("Wednesday").week(Number).add('days', i*7+6)
  var label = dayOne.format('MMMM D, YYYY').toString() + ' - ' + dayTwo.format('MMMM D, YYYY').toString()
  obj[label] = [dayOne, dayTwo]
}

$('#reportrange').daterangepicker(
    {
      ranges: obj,
      startDate: moment().subtract('days', 29),
      endDate: moment()
    },
    function(start, end) {
        $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
        $('#reservation_reservation_date').val(start.format('"YYYY/MM/DD"'));
    }
);
//hack to hide calendar since i need to move on
$('.drp-calendar').css("display","none");

</script><!--
 <script src= <%= "https://www.paypal.com/sdk/js?client-id=" + (Rails.env == 'development' ? 'AVOPmhWTvCRsy3WaEoJGeDqkK93WeLcjQTUA6ji-r1c1nxhC35mGwCUxztUKMcBjiP-DQ4eAbF8ozbmG' : 'ATsHCwJYVY7xxd4XFFAgj_uqaTn3i58bP8PEMVkj-dTJn2qxovfluU1FT3Ze3arHd-xdAThzQXbHO3M8') + '&currency=USD' %>><script/>
<script src= 'https://www.paypal.com/sdk/js?client-id=ATsHCwJYVY7xxd4XFFAgj_uqaTn3i58bP8PEMVkj-dTJn2qxovfluU1FT3Ze3arHd-xdAThzQXbHO3M8' /> -->
  <script>
    const RATES = {
      'Full Member': 10,
      'Associate Member': 35,
      'Guest': 45,
      'Race Member': 10
    }
    const dayArray = ['sun','mon','tue','wed','thur','fri','sat']
    const form = document.getElementById('new_reservation')

    function countDaysSelected() {
      var checkedDays = dayArray.filter((day) => {
        return document.getElementById(`reservation_${day}`).checked
      })
      return checkedDays.length
    }

    function calculateValue() {
      const memberType = $('input[name="reservation[res_member_type]"]:checked').val();
      var total = RATES[memberType]
      total *= countDaysSelected()
      
      return total
    }
    function initPayPalButton() {
      paypal.Buttons({
        style: {
          shape: 'rect',
          color: 'gold',
          layout: 'vertical',
          label: 'paypal',
          
        },

        createOrder: function(data, actions) {
          const chargeValue = calculateValue()
          return actions.order.create({
            purchase_units: [{"amount":{"currency_code":"USD","value": calculateValue()}}]
          });
        },

        onApprove: function(data, actions) {
          //TODO add paypal transaction id to reservation
          return actions.order.capture().then(function(details) {
            console.log(details)
            document.getElementById('confirmation_number').value = details.id
            form.submit()
          });
        },

        onError: function(err) {
          console.log(err);
        }
      }).render('#paypal-button-container');
    }
    initPayPalButton();
  </script>