<%= simple_form_for(@reservation) do |f| %>
  <% if @reservation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@reservation.errors.count, "error") %> prohibited this reservation from being saved:</h2>

      <ul>
      <% @reservation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <div class="fl">
      <div class="panel panel-default">
        <h3>Date</h3>
        <div class="panel-body">
          <div id="reportrange">
            <i class="fa fa-calendar fa-lg"></i>
            <% if @reservation.reservation_date.nil? %>
               <span>Pick A Reservation Week</span> <b class="caret"></b>
            <% else %>
              <span><%= l(@reservation.reservation_date, format: :notime) %> - <%= l(@reservation.reservation_date + 7.days, format: :notime) %></span> <b class="caret"></b>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
    <%= f.input :reservation_date, as: :hidden %>
  <div class="box panel panel-default">
    <h3> Name </h3>
    <div class="panel panel-body">
      <%= f.input :name, label: false%>
    </div>
  </div>
  <div class="box panel panel-default">
    <h3> Sex </h3>
    <div class="panel panel-body">
      <%= f.collection_radio_buttons :sex, [['Male', 'Male'], ['Female', 'Female']], :first, :last, :item_wrapper_tag => :div %>
    </div>
  </div>
  <div class="box panel panel-default">
    <h3>Member Type</h3>
    <div class="panel panel-body">
      <%= f.collection_radio_buttons :res_member_type, [['Full Member', 'Full Member'], ['Associate Member', 'Associate Member'], ['Race Member', 'Race Member'], ['Guest', 'Guest']], :first, :last, :item_wrapper_tag => :div %>
    </div>
  </div>
  <div class="box panel panel-default">
    <h3> Select the days you are staying and if you want the house dinner.</h3>
    <div class="panel panel-body">
      <%= f.input :wed, :as => :boolean, :label => 'Wednesday' %>
      <%= f.input :thur, :as => :boolean, :label => ' Thursday' %>
      <%= f.input :fri, :as => :boolean, :label => ' Friday' %>
      <%= f.input :sat, :as => :boolean, :label => ' Saturday' %>
      <%= f.input :sun, :as => :boolean, :label => ' Sunday' %>
      <%= f.input :mon, :as => :boolean , :label => ' Monday' %>
      <%= f.input :tue, :as => :boolean, :label => ' Tuesday' %>
      <%= f.input :dinner, :as => :boolean, :label => ' Dinner' %>
    </div>
  </div>
  <!-- <div class="box panel panel-default">
    <div class="panel panel-body">
      <div id="guest_container"></div>
      <button type='button' id="add_guest" onClick="addGuest()">Add Guest</button>
    </div>
  </div> -->
  <div class="box panel panel-default">
   <%= f.fields_for :guests do |guest| %>

    <%= guest.label :name, "Name" %>
    <%= guest.text_field :name %>

    <%= guest.label :sex, "Sex" %>
    <%= guest.text_field :sex %>

  <% end %>
  </div>
  <div class="box panel panel-default">
    <h3> Comment</h3>
    <div class="panel panel-body">
      <%= f.input :comment, as: :bootsy, label: false %>
    </div>
  </div>
  <div class="box panel panel-default">
    <div class="panel panel-body">
      <%= f.submit 'Submit', class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>

 <template id="guest_template">
  <div class="guest_template">
    <!--<label for="reservation[guests][GUEST_ID][name]">Name</label>
    <input type="text" name='reservation[guests][GUEST_ID][name]'>
    <label for="reservation[guests][GUEST_ID][sex]">Sex</label>
    <input type="radio" name="reservation[guests][GUEST_ID][sex]" value="male" checked>
    <label>Male</label>
    <input type="radio" name="reservation[guests][GUEST_ID][sex]" value="female">
    <label>Female</label>-->
    <%= guest.label :name, "Name" %>
    <%= guest.text_field :name %>

    <%= guest.label :sex, "Sex" %>
    <%= guest.text_field :sex %>
    <button type="button" onClick = "deleteGuest(GUEST_ID)">Delete Guest</button>
  </div>
<script type="text/javascript">
//set how many weeks out we allow users to scheudle
const WEEKS_OUT = 25
var obj = {};

for (var i = 0; i < WEEKS_OUT; i++) {
  var dayOne = moment().day("Wednesday").week(Number).add('days', i*7)
  var dayTwo = moment().day("Wednesday").week(Number).add('days', i*7+6)
  var label = dayOne.format('MMMM D, YYYY').toString() + ' - ' + dayTwo.format('MMMM D, YYYY').toString()
  obj[label] = [dayOne, dayTwo]
}

$('#reportrange').daterangepicker(
    {
      ranges: obj,
      startDate: moment().subtract('days', 29),
      endDate: moment()
    },
    function(start, end) {
        $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
        $('#reservation_reservation_date').val(start.format('"YYYY/MM/DD"'));
    }
);
//hack to hide calendar since i need to move on
$('.drp-calendar').css("display","none");

//keep track of guest template and how many have been created
// const GUEST_TEMPLATE = document.getElementById('guest_template')
// const guestContainer =  document.getElementById('guest_container')
// var count = 0
// //create guest entries
// function addGuest() {
//   var guestTemplateClone = GUEST_TEMPLATE.content.cloneNode(true).querySelector('.guest_template');
//   guestTemplateClone.innerHTML = guestTemplateClone.innerHTML.replaceAll('GUEST_ID',count)
//   guestTemplateClone.setAttribute("id", `guest_${count}`);

//   guestContainer.append(guestTemplateClone)
//   count++
// }

// function deleteGuest(id) {
//   console.log(`delete guest id: ${id}`)
//   document.getElementById(`guest_${id}`).remove()
// }

</script>




