<div class="box panel panel-default">
  <div class="panel panel-body">
    <h1>Edit/Delete Reservations</h1>
    <div class="action">
      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Reservation Date</th>
              <th>Name</th>
              <th>Sex</th>
              <th>Type</th>
              <th>Wed</th>
              <th>Thu</th>
              <th>Fri</th>
              <th>Sat</th>
              <th>Sun</th>
              <th>Mon</th>
              <th>Tue</th>
              <th>Dinner</th>
              <th>Comment</th>
              <th></th>
              <th></th>
            </tr>
          </thead>

          <tbody>
            <% @reservations.each do |reservation| %>
              <tr>
                <td><%= l(reservation.reservation_date, format: :notime) %> - <%= l(reservation.reservation_date + 7.days, format: :notime) %></td>
                <td><%= reservation.name %></td>
                <td><%= reservation.sex.capitalize %></td>
                <td><%= reservation.res_member_type.capitalize %></td>
                <% if reservation.wed? %>
                  <td> <span class="glyphicon glyphicon-ok-circle"></span></td>
                <% else %>
                  <td><span class="glyphicon glyphicon-remove-circle"></span></td>
                <% end %>
                <% if reservation.thur? %>
                  <td> <span class="glyphicon glyphicon-ok-circle"></span></td>
                <% else %>
                  <td><span class="glyphicon glyphicon-remove-circle"></span></td>
                <% end %>
                <% if reservation.fri? %>
                  <td> <span class="glyphicon glyphicon-ok-circle"></span></td>
                <% else %>
                  <td><span class="glyphicon glyphicon-remove-circle"></span></td>
                <% end %>
                <% if reservation.sat? %>
                  <td> <span class="glyphicon glyphicon-ok-circle"></span></td>
                <% else %>
                  <td><span class="glyphicon glyphicon-remove-circle"></span></td>
                <% end %>
                <% if reservation.sun? %>
                  <td> <span class="glyphicon glyphicon-ok-circle"></span></td>
                <% else %>
                  <td><span class="glyphicon glyphicon-remove-circle"></span></td>
                <% end %>
                <% if reservation.mon? %>
                  <td> <span class="glyphicon glyphicon-ok-circle"></span></td>
                <% else %>
                  <td><span class="glyphicon glyphicon-remove-circle"></span></td>
                <% end %>
                <% if reservation.tue? %>
                  <td> <span class="glyphicon glyphicon-ok-circle"></span></td>
                <% else %>
                  <td><span class="glyphicon glyphicon-remove-circle"></span></td>
                <% end %>
                <% if reservation.dinner? %>
                  <td> <span class="glyphicon glyphicon-ok-circle"></span></td>
                <% else %>
                  <td><span class="glyphicon glyphicon-ban-circle"></span></td>
                <% end %>
                <td><%= reservation.comment.html_safe %></td>
                <td>
                  <%= link_to edit_reservation_path(reservation) do %>
                    <span class="glyphicon glyphicon-edit"></span> Edit
                  <% end %>
                </td>
                <td>
                  <%= link_to reservation, method: :delete, data: { confirm: 'Are you sure?' } do %>
                    <span class="glyphicon glyphicon-trash"></span> Delete
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>

      <br>

      <%= link_to 'New Reservation', new_reservation_path %>
    </div>
  </div>
</div>