<!-- Main Container -->
<div class="main-wrapper">

  <!-- Container -->
  <div class="container">
    <div class="white-space space-big"></div>
    <div class="row">
      <div class="col-md-12 columns">
        <h2 class="fancy-title text-center"><span>The Brettl Hupfer Ski &amp; Sports Club</span></h2>
      </div>
      <div class="col-md-8 col-md-offset-2">
        <p class="lead text-center">We're a crazy group of eclectic single indivuals that love to ski and ride. We love everything the outdoors has to offer.</p>
        <div class="white-space space-small"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-6 columns">
        <div class="iconbox vertical animation fadeInLeft"> <span class="livicon" data-n="home" data-s="80" data-color="#EB2D2E" data-hovercolor="#EB2D2E" data-op="1" data-onparent="true"></span>
          <div class="iconbox-content">
            <h4>The House</h4>
            <p>Quisque sagittis lacus eu lorem sodales, id <a href="#">vulputate velit</a> adipiscing. Aenean adipiscing, sem sit amet mollis aliquet.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6 columns">
        <div class="iconbox vertical animation fadeInLeft delay1"> <span class="livicon" data-n="mail" data-s="80" data-color="#EB2D2E" data-hovercolor="#EB2D2E" data-op="1" data-onparent="true"></span>
          <div class="iconbox-content">
            <h4>Contact Us</h4>
            <p>Quisque sagittis lacus eu lorem sodales, id <a href="#">vulputate velit</a> adipiscing. Aenean adipiscing, sem sit amet mollis aliquet.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6 columns">
        <div class="iconbox vertical animation fadeInRight"> <span class="livicon" data-n="sitemap" data-s="80" data-color="#EB2D2E" data-hovercolor="#EB2D2E" data-op="1" data-onparent="true"></span>
          <div class="iconbox-content">
            <h4>Eastern Inter-Club Ski League</h4>
            <p>Quisque sagittis lacus eu lorem sodales, id <a href="#">vulputate velit</a> adipiscing. Aenean adipiscing, sem sit amet mollis aliquet.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6 columns">
        <div class="iconbox vertical animation fadeInRight delay1"> <span class="livicon" data-n="clock" data-s="80" data-color="#EB2D2E" data-hovercolor="#EB2D2E" data-op="1" data-onparent="true"></span>
          <div class="iconbox-content">
            <h4>What Are You Waiting For?</h4>
            <p>Quisque sagittis lacus eu lorem sodales, id <a href="#">vulputate velit</a> adipiscing. Aenean adipiscing, sem sit amet mollis aliquet.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="white-space space-medium"></div>
  </div>
  <!-- /Container -->

  <!-- Parallax Container -->
  <div class="parallax parallax-background-tucks" data-stellar-background-ratio="0.4">
    <div class="bg-overlay bg-overlay-gdark"></div>
    <div class="white-space space-big"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1 columns">
          <h2 class="fancy-title text-center color-white"><span>Testimonials</span></h2>
          <!-- Testimonials Carousel -->
          <div class="testimonials carousel-box animation fadeInUp">
            <div class="carousel" data-carousel-autoplay="6000" data-carousel-nav="false" data-carousel-pagination="true" data-carousel-single="true" data-carousel-transition="backSlide">
              <div class="testimonial-item text-center">
                <blockquote>
                  <p class="lead color-white">Friendly club members go out of their way to chat with newcomers and make them feel comfortable.</p>
                </blockquote>
              </div>
              <div class="testimonial-item text-center">
                <blockquote>
                  <p class="lead color-white">They rock!</p>
                 </blockquote>
              </div>
              <div class="testimonial-item text-center">
                <blockquote>
                  <p class="lead color-white">Fun group of people who like to enjoy themselves on and off the slopes!</p>
                </blockquote>
              </div>
              <div class="testimonial-item text-center">
                <blockquote>
                  <p class="lead color-white">Everyone was great. Met so many new people.</p>
                </blockquote>
              </div>
              <div class="testimonial-item text-center">
                <blockquote>
                  <p class="lead color-white">It's like being in an 80's ski movie.</p>
                </blockquote>
              </div>
              <div class="testimonial-item text-center">
                <blockquote>
                  <p class="lead color-white">People should join this group if you are a outdoor enthusiast, want to make new friends, have a good time, and save money while doing it. Wether you're budget conscious or not, you couldn't meet a friendlier group of people than up at the Brettl-Hupfers.</p>
                </blockquote>
              </div>
              <div class="testimonial-item text-center">
                <blockquote>
                  <p class="lead color-white">This is one of the best (and cheapest) ways to get out skiing and meet great people who enjoy the same.</p>
                </blockquote>
              </div>
              <div class="testimonial-item text-center">
                <blockquote>
                  <p class="lead color-white">This a great group of people to ski or board with, and an inexpensive place to stay up in the mountains every weekend.</p>
                </blockquote>
              </div>
            </div>
          </div>
          <!-- /Testimonials Carousel -->

        </div>
      </div>
    </div>
    <div class="white-space space-big"></div>
  </div>
  <!-- /Parallax Container -->

  <!-- Container -->
  <div class="container">
    <div class="white-space space-big"></div>
    <div class="row">
      <div class="col-md-4 col-sm-4 columns"> <%= image_tag 'house_v2.jpg', class: 'img-responsive animation fadeInLeft', alt: 'Avendor Counters' %>
        <div class="white-space space-small"></div>
      </div>
      <div class="col-md-8 col-sm-8 columns">
        <h2>Our Home Away From Home</h2>
        <p class="lead">Located in Barttle Village, NH. (603) 374-9242</p>
        <div class="white-space space-small"></div>
        <div class="row">
          <div class="col-md-4 col-sm-4 columns">
            <div class="counter-block animation fadeInRight">
              <h2 class="counter color-default xbold text-center" data-from="0" data-to="53" data-speed="3000" data-refresh-interval="40"></h2>
              <h4 class="text-center light">Beds</h4>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 columns">
            <div class="counter-block animation fadeInRight delay1">
              <h2 class="counter color-default xbold text-center" data-from="0" data-to="9" data-speed="5000" data-refresh-interval="50"></h2>
              <h4 class="text-center light">Bathrooms</h4>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 columns">
            <div class="counter-block animation fadeInRight delay3">
              <h2 class="counter color-default xbold text-center" data-from="0" data-to="30" data-speed="4000" data-refresh-interval="50"></h2>
              <h4 class="text-center light">Rooms</h4>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 columns">
            <div class="counter-block animation fadeInRight delay3">
              <h2 class="counter color-default xbold text-center" data-from="0" data-to="9" data-speed="4000" data-refresh-interval="50"></h2>
              <h4 class="text-center light">Toilets</h4>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 columns">
            <div class="counter-block animation fadeInRight delay2">
              <h2 class="counter color-default xbold text-center" data-from="0" data-to="1" data-speed="6000" data-refresh-interval="50"></h2>
              <h4 class="text-center light">Giant Fireplace</h4>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 columns">
            <div class="counter-block animation fadeInRight delay3">
              <h2 class="counter color-default xbold text-center" data-from="0" data-to="8" data-speed="4000" data-refresh-interval="50"></h2>
              <h4 class="text-center light">Showers/Tub</h4>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 columns">
            <div class="counter-block animation fadeInRight delay3">
              <h2 class="counter color-default xbold text-center" data-from="0" data-to="5" data-speed="4000" data-refresh-interval="50"></h2>
              <h4 class="text-center light">Front Pourch Chairs</h4>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 columns">
            <div class="counter-block animation fadeInRight delay3">
              <h2 class="counter color-default xbold text-center" data-from="0" data-to="1" data-speed="4000" data-refresh-interval="50"></h2>
              <h4 class="text-center light">Dance Floor</h4>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 columns">
            <div class="counter-block animation fadeInRight delay3">
              <h2 class="counter color-default xbold text-center" data-from="0" data-to="17" data-speed="4000" data-refresh-interval="50"></h2>
              <h4 class="text-center light">Sinks</h4>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 columns">
            <div class="counter-block animation fadeInRight delay4">
              <h2 class="counter color-default xbold text-center" data-from="0" data-to="1" data-speed="4000" data-refresh-interval="50"></h2>
              <h4 class="text-center light">Rustic Kitchen</h4>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 columns">
            <div class="counter-block animation fadeInRight delay5">
              <h2 class="counter color-default xbold text-center" data-from="0" data-to="684" data-speed="2000" data-refresh-interval="50"></h2>
              <h4 class="text-center light">Cups of Coffee</h4>
            </div>
          </div>
        </div>
        <div class="white-space space-small"></div>
      </div>
    </div>
    <div class="white-space space-small"></div>
  </div>
  <!-- /Container -->

  <!-- Full Width Container -->
  <div class="fullsize">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2 class="fancy-title text-center"><span>Photos From Our Members</span></h2>
          <div class="white-space space-xsmall"></div>
        </div>
      </div>
    </div>

    <!-- Carousel -->
    <div class="carousel-box" >
      <div class="carousel" data-carousel-autoplay="false" data-carousel-items="4" data-carousel-nav="true" data-carousel-pagination="false"  data-carousel-speed="1000">
        <div class="carousel-item animation fadeInLeft">
          <div class="overlay-wrapper"> <%= image_tag 'portfolio/branding/branding-1.jpg', alt:'Portfolio 1' %>
            <div class="overlay-wrapper-content">
              <div class="overlay-details"> <a class="color-white" href="/assets/portfolio/branding/bretts-at-black.jpg" data-lightbox="image"><span class="livicon" data-n="plus"  data-color="#ffffff" data-hovercolor="#ffffff" data-op="1" data-onparent="true"></span></a> <a class="color-white" href="#"><span class="livicon" data-n="more"  data-color="#ffffff" data-hovercolor="#ffffff" data-op="1" data-onparent="true"></span></a> </div>
              <div class="overlay-bg"></div>
            </div>
          </div>
          <div class="portfolio-item-content">
            <h3 class="portfolio-item-title">Double Chair</h3>
            <p>Some Brett's enjoying a great day at Black Mountain.</p>
          </div>
        </div>
        <div class="carousel-item animation fadeInLeft delay1">
          <div class="overlay-wrapper"> <%= image_tag 'portfolio/webdesign/web-3.jpg', alt:'Portfolio 2' %>
            <div class="overlay-wrapper-content">
              <div class="overlay-details"> <a class="color-white" href="/assets/portfolio/branding/bretts-in-co.jpg" data-lightbox="image"><span class="livicon" data-n="plus"  data-color="#ffffff" data-hovercolor="#ffffff" data-op="1" data-onparent="true"></span></a> <a class="color-white" href="#"><span class="livicon" data-n="more"  data-color="#ffffff" data-hovercolor="#ffffff" data-op="1" data-onparent="true"></span></a> </div>
              <div class="overlay-bg"></div>
            </div>
          </div>
          <div class="portfolio-item-content">
            <h3 class="portfolio-item-title">Happy Faces</h3>
            <p>Brett's all smiles out west.</p>
          </div>
        </div>
        <div class="carousel-item animation fadeInLeft delay2">
          <div class="overlay-wrapper"> <%= image_tag 'portfolio/branding/bretts-fireplace.jpg', alt:'Portfolio 3' %>
            <div class="overlay-wrapper-content">
              <div class="overlay-title">
                <h3>Smores!!</h3>
                <p>We love our fireplace.</p>
              </div>
              <div class="overlay-details"> <a class="color-white" href="/assets/portfolio/branding/bretts-wildlife.jpg" data-lightbox="image"><span class="livicon" data-n="plus"  data-color="#ffffff" data-hovercolor="#ffffff" data-op="1" data-onparent="true"></span></a> <a class="color-white" href="#"><span class="livicon" data-n="more"  data-color="#ffffff" data-hovercolor="#ffffff" data-op="1" data-onparent="true"></span></a> </div>
              <div class="overlay-bg"></div>
            </div>
          </div>
          <div class="portfolio-item-content">
            <h3 class="portfolio-item-title">Imitating Nature</h3>
            <p>Trying a new type of skiing.</p>
          </div>
        </div>
        <div class="carousel-item animation fadeInLeft delay3">
          <div class="overlay-wrapper"> <%= image_tag 'portfolio/branding/bretts-at-breck.jpg', alt:'Portfolio 4' %>
            <div class="overlay-wrapper-content">
              <div class="overlay-details"> <a class="color-white" href="/assets/portfolio/branding/branding-4.jpg" data-lightbox="image"><span class="livicon" data-n="plus"  data-color="#ffffff" data-hovercolor="#ffffff" data-op="1" data-onparent="true"></span></a> <a class="color-white" href="#"><span class="livicon" data-n="more"  data-color="#ffffff" data-hovercolor="#ffffff" data-op="1" data-onparent="true"></span></a> </div>
              <div class="overlay-bg"></div>
            </div>
          </div>
          <div class="portfolio-item-content">
            <h3 class="portfolio-item-title">Bretts at Breck</h3>
            <p>Oh what a feeling!</p>
          </div>
        </div>
        <div class="carousel-item animation fadeInLeft delay4">
          <div class="overlay-wrapper"> <%= image_tag 'portfolio/branding/bretts-doctor.jpg', alt:'Portfolio 5' %>
            <div class="overlay-wrapper-content">
              <div class="overlay-details"> <a class="color-white" href="/assets/portfolio/webdesign/web-4.jpg" data-lightbox="image"><span class="livicon" data-n="plus"  data-color="#ffffff" data-hovercolor="#ffffff" data-op="1" data-onparent="true"></span></a> <a class="color-white" href="#"><span class="livicon" data-n="more"  data-color="#ffffff" data-hovercolor="#ffffff" data-op="1" data-onparent="true"></span></a> </div>
              <div class="overlay-bg"></div>
            </div>
          </div>
          <div class="portfolio-item-content">
            <h3 class="portfolio-item-title">Doctor. Doctor.</h3>
            <p>I'm not a doctor but I play one at the Bretts.</p>
          </div>
        </div>
        <div class="carousel-item animation fadeInLeft delay4">
          <div class="overlay-wrapper"> <%= image_tag 'portfolio/branding/bretts-clean-up.jpg', alt: 'Portfolio 5' %>
            <div class="overlay-wrapper-content">
              <div class="overlay-details"> <a class="color-white" href="/assets/portfolio/branding/branding-3.jpg" data-lightbox="image"><span class="livicon" data-n="plus"  data-color="#ffffff" data-hovercolor="#ffffff" data-op="1" data-onparent="true"></span></a> <a class="color-white" href="#"><span class="livicon" data-n="more"  data-color="#ffffff" data-hovercolor="#ffffff" data-op="1" data-onparent="true"></span></a> </div>
              <div class="overlay-bg"></div>
            </div>
          </div>
          <div class="portfolio-item-content">
            <h3 class="portfolio-item-title">Cleaning Up.</h3>
            <p> Some of us clean up nice.</p>
          </div>
        </div>
      </div>
    </div>
    <!-- /Carousel -->

  </div>
  <!-- /Full Width Container -->

  <!-- Full Width Container -->
  <div class="fullsize">
    <div class="bg-overlay bg-color-dark bg-overlay-solid"></div>
    <div class="container">
      <div class="white-space space-small"></div>
      <div class="row">
        <div class="col-md-6">
          <div class="white-space space-xsmall"></div>
          <p class="lead text-center color-white">You hooked yet? Contact us now!</p>
        </div>
        <div class="col-md-6">
          <div class="text-center"><a class="btn btn-white btn-alt btn-lg" href="#">See More?</a></div>
        </div>
      </div>
      <div class="white-space space-small"></div>
    </div>
  </div>
  <!-- /Full Width Container -->

  <!-- Parallax Container -->
  <div class="parallax parallax-background-fields" data-stellar-background-ratio="0.4">
    <div class="white-space space-big"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2 class="fancy-title text-center"><span>A Little Bit About The Club</span></h2>
        </div>
        <div class="col-md-8 col-md-offset-2">
          <p class="lead text-center text-right">Here is a chance to find out a little bit about our club, who we are and how you can take advantage of an incredible opportunity to ski, ride or just enjoy outdoor activities in the White Mountains!</p>
          <div class="white-space space-small"></div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <!-- Icon List-->
          <ul class="list-unstyled iconbox-list">
            <li>
              <div class="iconbox">
                <div class="iconbox-wrapper circle iconbox-2x bg-color-default pull-right color-white animation zoomIn"> <i class="fa fa-child"></i> </div>
                <div class="iconbox-content animation fadeInLeft">
                  <h5 class="bold text-right">The People</h5>
                  <p class=" bold text-right">The Brettl-Hupfers Ski and Sports Club is a group of men and women united by friendship and a love for skiing, snowboarding, hiking, canoeing, and other outdoor sports year round. (We’ve been known to have a good time indoors too!)</p>
                </div>
              </div>
            </li>
            <li>
              <div class="iconbox">
                <div class="iconbox-wrapper circle iconbox-2x bg-color-default pull-right color-white animation zoomIn delay1"> <i class="fa fa-html5"></i> </div>
                <div class="iconbox-content animation fadeInLeft delay1">
                  <h5 class="bold text-right">Location, Location Location</h5>
                  <p class="bold text-right">Located in Bartlett Village, New Hampshire, the club is two miles (yes, two miles!) from Attitash/Bear Peak Ski Area and 15 minutes to an hour from 10 other New Hamphsire and Maine ski areas. Vermont skiing is only 1 1/2 hours away.</p>
                </div>
              </div>
            </li>
            <li>
              <div class="iconbox">
                <div class="iconbox-wrapper circle iconbox-2x bg-color-default pull-right color-white animation zoomIn delay2"> <i class="fa fa-film"></i> </div>
                <div class="iconbox-content animation fadeInLeft delay2">
                  <h5 class="bold text-right">Our Roots</h5>
                  <p class="bold text-right">Founded in 1956, the club is a nonprofit organization run by its members.</p>
                </div>
              </div>
            </li>
          </ul>
          <!-- /Icon List-->
        </div>
        <div class="col-md-4"> <%= image_tag 'brettllogo.png', class: 'img-responsive animation fadeInUp',alt: 'Offer' %>
          <div class="white-space space-small"></div>
        </div>
        <div class="col-md-4">
          <!-- Icon List-->
          <ul class="list-unstyled iconbox-list">
            <li>
              <div class="iconbox">
                <div class="iconbox-wrapper circle iconbox-2x bg-color-default color-white animation zoomIn"> <i class="fa fa-tint"></i> </div>
                <div class="iconbox-content animation fadeInRight">
                  <h5 class="bold">Membership Types</h5>
                  <p class="bold text-right">The club currently has Full, Associate, Race and other memberships available.</p>
                </div>
              </div>
            </li>
            <li>
              <div class="iconbox">
                <div class="iconbox-wrapper circle iconbox-2x bg-color-default color-white animation zoomIn delay1"> <i class="fa fa-bullhorn"></i> </div>
                <div class="iconbox-content animation fadeInRight delay1">
                  <h5 class="bold text-right">Some Other Really Great Thing</h5>
                  <p class="bold text-right">Turpis venenatis at laoreet. Etiam lorem nulla fuviverra minim sed metus egestas sapien conseto actetuer, ac etiam amet bibendum.</p>
                </div>
              </div>
            </li>
            <li>
              <div class="iconbox">
                <div class="iconbox-wrapper circle iconbox-2x bg-color-default color-white animation zoomIn delay2"> <i class="fa fa-leaf"></i> </div>
                <div class="iconbox-content animation fadeInRight delay2">
                  <h5 class="bold text-right">One More Thing For Balance</h5>
                  <p class="bold text-right">Turpis venenatis at laoreet. Etiam lorem nulla fuviverra minim sed metus egestas sapien conseto actetuer, ac etiam amet bibendum.</p>
                </div>
              </div>
            </li>
          </ul>
          <!-- /Icon List-->
        </div>
      </div>
    </div>
    <div class="white-space space-big"></div>
  </div>
  <!-- /Parallax Container -->

  <!-- Container -->
  <div class="container">
    <div class="white-space space-big"></div>
    <div class="row">
      <div class="col-md-12">
        <h3 class="fancy-title text-center"><span>Latest From Instagram</span></h3>
        <p class="lead text-center">Check out our lastest pics.<br/>
          in the last period.</p>
        <div class="white-space space-small"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <!-- Carousel -->
        <div class="carousel-box" >
          <div class="carousel carousel-simple" data-carousel-autoplay="9000" data-carousel-items="3" data-carousel-nav="false" data-carousel-pagination="true"  data-carousel-speed="1000">
            <div class="carousel-item"> <a href="blog-single-post.html"><%= image_tag'blog/blog1-alt.jpg' %></a>
              <div class="panel panel-default">
                <div class="panel-body">
                  <h5><a href="blog-single-post.html">Aliquam volutpat lacus</a></h5>
                  <ul class="list-inline post-meta-info">
                    <li class="meta-author"><a href="">By: webmaster</a></li>
                    <li class="meta-date"><a href="">June 23, 2014</a></li>
                    <li class="meta-comments"><a href="">16</a></li>
                  </ul>
                  <p>Quisque at purus ac libero malesuada lacinia. In magna erat, euismod quis...</p>
                </div>
              </div>
            </div>
            <div class="carousel-item"> <a href="blog-single-post.html"><%= image_tag 'blog/blog2-alt.jpg', alt: 'Article 2' %></a>
              <div class="panel panel-default">
                <div class="panel-body">
                  <h5><a href="blog-single-post.html">Morbi commodo eget est</a></h5>
                  <ul class="list-inline post-meta-info">
                    <li class="meta-author"><a href="">By: webmaster</a></li>
                    <li class="meta-date"><a href="">June 23, 2014</a></li>
                    <li class="meta-comments"><a href="">16</a></li>
                  </ul>
                  <p>Etiam odio sapien, aliquet ac elementum egestas, adipiscing vitae lacus...</p>
                </div>
              </div>
            </div>
            <div class="carousel-item"> <a href="blog-single-post.html"><%= image_tag 'blog/blog3-alt.jpg', alt: 'Article 3' %></a>
              <div class="panel panel-default">
                <div class="panel-body">
                  <h5><a href="blog-single-post.html">Quisque at purus ac libero</a></h5>
                  <ul class="list-inline post-meta-info">
                    <li class="meta-author"><a href="">By: webmaster</a></li>
                    <li class="meta-date"><a href="">June 23, 2014</a></li>
                    <li class="meta-comments"><a href="">16</a></li>
                  </ul>
                  <p>Sed sed rutrum tellus. Phasellus viverra vehicula augue, vitae faucibus est</p>
                </div>
              </div>
            </div>
            <div class="carousel-item"> <a href="blog-single-post.html"><%= image_tag 'blog/blog4-alt.jpg', alt: 'Article 4' %></a>
              <div class="panel panel-default">
                <div class="panel-body">
                  <h5><a href="blog-single-post.html">Cum sociis penatibus</a></h5>
                  <ul class="list-inline post-meta-info">
                    <li class="meta-author"><a href="">By: webmaster</a></li>
                    <li class="meta-date"><a href="">June 23, 2014</a></li>
                    <li class="meta-comments"><a href="">16</a></li>
                  </ul>
                  <p>Cum sociis natoque penatibus et magnis dis parturient, nascetur ridiculus mus...</p>
                </div>
              </div>
            </div>
            <div class="carousel-item"> <a href="blog-single-post.html"><%= image_tag 'blog/blog5-alt.jpg', alt: 'Article 5' %></a>
              <div class="panel panel-default">
                <div class="panel-body">
                  <h5><a href="blog-single-post.html">Fusce placerat augue</a></h5>
                  <ul class="list-inline post-meta-info">
                    <li class="meta-author"><a href="">By: webmaster</a></li>
                    <li class="meta-date"><a href="">June 23, 2014</a></li>
                    <li class="meta-comments"><a href="">16</a></li>
                  </ul>
                  <p>Mauris euismod magnis dis malesuada tincidunt. Integer consectetur orci venenatis ...</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /Carousel -->
      </div>
    </div>
    <div class="white-space space-big"></div>
  </div>
  <!-- /Container -->

  <!-- Parallax Container -->
  <div class="parallax parallax-background7" data-stellar-background-ratio="0.4">
    <div class="bg-overlay bg-overlay-gdark"></div>
    <div class="white-space space-big"></div>
    <div class="container">
      <div class="col-md-10 col-md-offset-1 columns">
        <div class="twitter-carousel color-white">
          <div class="iconbox-wrapper center-block circle border iconbox-2x animation bounceIn"> <i class="fa fa-twitter"></i> </div>
          <div class="white-space space-small"></div>
          <div class="carousel carousel-theme-round">
            <div class="twitterfeed"></div>
          </div>
          <div class="white-space space-small"></div>
          <a class="btn btn-white btn-alt">Follow Us!</a> </div>
      </div>
    </div>
    <div class="white-space space-big"></div>
  </div>
  <!-- /Parallax Container -->

</div>
<!-- /Main Container -->