.header-top
  .container
    .row
      .col-md-12.colsm-12.columns
        .header-top-left
          %ul.social-top
            %li
              = link_to 'https://www.facebook.com/brettl.hupfers', class: 'Tooltip' do
                %span.fa.fa-facebook
            %li
              = link_to 'https://twitter.com/Brettl_Hupfers', class: 'Tooltip' do
                %span.fa.fa-twitter
            %li
              = link_to 'https://plus.google.com/u/0/106339247993048811475/posts', class: 'Tooltip' do
                %span.fa.fa-google-plus
            %li
              = link_to '#', class: 'Tooltip' do
                %span.fa.fa-instagram
= render 'layouts/main_nav'